@media only screen and (max-width: 768px) {
  .mobile {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Safari */
  body::-webkit-scrollbar {
    display: none;
  }

  .mobile-button {
    display: flex !important;
    justify-content: center !important;
  }

  .mobile-inside {
    width: 28rem !important;
  }
}
